/********* Colors *********
#654321; brown
#fafad6; cream
#5b1d6f; dark Purple
#448f30; green
#d8d618; light Gold
#99a637; light green
#f135f8; light Purple
#652770; purple
#800080; purple
#ff0000; red
*/


/********** Body ************/
body {
	height: 300px;
	margin: 0px;
}
/********** End Body ************/



/********** Name ************/

.name {	
	background: #fff; /* White Color*/
	color: #652770; /* Purple Color*/
	font-family: 'Playball', cursive;
	font-size: 71px;
	padding-bottom: 2px;
	text-align: center;	
}

.name--position {	
	left: 39%;
	margin: 0;
	position: absolute;
	z-index: 1;
}

.name--heightWidth {
	height: 120px;
	width: 300px;
}
/********** End Name ************/



/************* Tree *************/

.tree {		
	background-color: #fff; /* White Color*/
}

.tree--position {
	margin-left: 39%;
	position: relative;
}

.tree--height {
	height: 300px;
	width: 300px ;
}
/************* End Tree *************/



/************* Branches *************/

.branch {
	border-bottom: 2px #99a637 solid; /* Light Green Color */		
}

.branch--position {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

.branch--heightWidth {
	height: 298px;
	width: 300px;
}

.branch__top {
	border-bottom: 100px solid #448f30; /* Green Color */
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	height:0;
	left: 70px;
	position:absolute;
	top: 80px;
	width: 0;
}

.branch__middle {
	
	border-bottom: 110px solid #448f30; /* Green Color */
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	height:0;
	left: 60px;
	position:absolute;
	top: 125px;
	width: 0;
}

.branch__bottom {
	
	border-bottom: 120px solid #448f30; /* Green Color */
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	height:0;
	left: 50px;
	position:absolute;
	top: 165px;
	width: 0;
} 
/************* End Branches *************/



/************* Bulbs *************/

.bulb--position {
	position: absolute;
	top: 65px;
}

.bulb--heightWidth {
	height: 235px;
	width: 300px;
}

.bulb__one {
	background: linear-gradient(0deg, #d8d618 /*Light Gold*/, gold 40%, #fafad6 /*Cream*/);
	border: 2px solid white;
	border-radius: 50%;
	bottom: 30px;
	height: 30px;
	left: 134px;
	position: absolute;
	top: 30px;
	width: 30px;
	z-index: 10;
}

.bulb__two {
	background: linear-gradient(0deg, #5b1d6f /*Dark Purple*/, #800080 40% /*Purple*/, #f135f8 /*Light Purple*/);
	border: 2px solid white;
	border-radius: 50%;
	bottom: 30px;
	height: 30px;
	left: 110px;
	position: absolute;
	top: 90px;
	width: 30px;
	z-index: 10;
}

.bulb__three {	
	background: linear-gradient(0deg, #d8d618 /*Light Gold*/, gold 40%, #fafad6 /*Cream*/);
	border: 2px solid white;
	border-radius: 50%;
	bottom: 30px;	
	height: 30px;
	left: 160px;
	position: absolute;
	top: 110px;
	width: 30px;
	z-index: 10;
}

.bulb__four {
	background: linear-gradient(0deg, #d8d618 /*Light Gold*/, gold 40%, #fafad6 /*Cream*/);
	border: 2px solid white;
	border-radius: 50%;	
	bottom: 50px;	
	height: 30px;	
	left: 100px;
	position: absolute;
	top: 175px;
	width: 30px;
	z-index: 10;
}

.bulb__five {
	background: linear-gradient(0deg, #5b1d6f /*Dark Purple*/, #800080 40% /*Purple*/, #f135f8 /*Light Purple*/);
	border: 2px solid white;
	border-radius: 50%;
	bottom: 30px;
	height: 30px;
	left: 165px;
	position: absolute;
	top: 180px;
	width: 30px;
	z-index: 10;
}
/************* End Bulbs *************/



/************* Lights Animation *************/
	
.lights__animation:nth-child(even) {
	animation: lights__animation-pulse-1 0.8s linear 0s infinite alternate;
	background: #ff0000; /* Red Color */
	box-shadow: none;
	opacity: 1;
}

.lights__animation:nth-child(odd) {
	animation: lights__animation-pulse-2 0.8s linear 0s infinite alternate;
	background: #fff; /* White Color */
	box-shadow: none;
	opacity: .8;
}

@keyframes lights__animation-pulse-1 {
	from {box-shadow: 1px 1px 15px #ff0000 /* Red Color */, -1px -1px 15px #ff0000 /* Red Color */; opacity 1;}
	to {box-shadow: none; opacity 3;}
}

@keyframes lights__animation-pulse-2 {
	from {box-shadow: none; opacity .3;}
	to {box-shadow: 1px 1px 15px #fff /* White Color*/, -1px -1px 15px #fff /* White Color*/; opacity 1;}
}
/************* End Lights Animation *************/



/************* Lights *************/

.lights {
		
}

.lights--position {		
	left: 10px;
	position: absolute;	
	top: 65px;
	z-index: 3;
	}

.lights--heightWidth {
	height: 235px;	
	width: 290px;
}

.lights__one {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 96px;
	margin: 0px;
	padding: 0px;
	position: absolute;	
	top: 57px;
	width: 10px;
	z-index: 10;
}

.lights__two {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 97px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 61px;
	width: 10px;
	z-index: 10;
}

.lights__three {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 107px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 65px;
	width: 10px;
	z-index: 10;
}

.lights__four {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 117px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 69px;
	width: 10px;
	z-index: 10;
}

.lights__five {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 127px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 73px;
	width: 10px;
	z-index: 10;
}

.lights__six {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 137px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 77px;
	width: 10px;
	z-index: 10;
}

.lights__seven {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 147px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 81px;
	width: 10px;
	z-index: 10;
}

.lights__eight {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 157px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 85px;
	width: 10px;
	z-index: 10;
}

.lights__nine {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 167px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 89px;
	width: 10px;
	z-index: 10;
}

.lights__ten {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 177px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 93px;
	width: 10px;
	z-index: 10;
}

.lights__eleven {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 184px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 97px;
	width: 10px;
	z-index: 10;
}

.lights__twelve {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 78px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 120px;
	width: 10px;
	z-index: 10;
}

.lights__thirteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 88px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 124px;
	width: 10px;
	z-index: 10;
}

.lights__fourteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 98px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 128px;
	width: 10px;
	z-index: 10;
}

.lights__fifteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 108px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 132px;
	width: 10px;
	z-index: 10;
}

.lights__sixteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 118px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 136px;
	width: 10px;
	z-index: 10;
}

.lights__seventeen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 128px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 140px;
	width: 10px;
	z-index: 10;
}

.lights__eighteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 138px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 144px;
	width: 10px;
	z-index: 10;
}

.lights__nineteen {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 148px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 148px;
	width: 10px;
	z-index: 10;
}

.lights__twenty {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 158px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 152px;
	width: 10px;
	z-index: 10;
}

.lights__twenty-one {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 168px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 156px;
	width: 10px;
	z-index: 10;
}

.lights__twenty-two {
	background: #fff; /* White Color*/
	border: solid 1px #fff; /* White Color*/
	border-radius: 50%;
	display: inline-block;
	height: 10px;	
	left: 178px;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	position: absolute;	
	top: 160px;
	width: 10px;
	z-index: 10;
}
/************* End Lights *************/



/************* Trunk *************/

.trunk {
	border-color: brown transparent;
	border-style: solid;
	border-width: 0px 15px 200px;
	box-shadow: 12px 1px 12px 1px #654321; /* Brown Color */	 
	margin-left: 135px;
	margin-top: 0px;
}

.trunk--position {	
	position: absolute;	
	z-index: 0;
}

.trunk--heightWidth {
	height: 100px;
	width: 0px;
}
/************* End Trunk *************/
	











