/* Colors 
#652770; purple
#a33643; red
#448f30; green
#99a637; light green

*/



body {
	height: 100%;
	margin: 0px;
}

/* Name */

.name {
	text-align: center;	
	font-size: 60px;
	background: #fff;
	color: #652770;
	font-family: 'Playball', cursive;
	padding-bottom: 2px;
}

/* Tree */

#ael {	
	max-height: 300px;
	margin: auto;
	position: relative;
	width: 300px ;
	
}



/* Trunk */

.trunk {
	position: absolute;
	bottom: 10px;
	 border-color: brown transparent;
	 border-style: solid;
	 border-width: 0px 15px 170px;
	 box-shadow: 12px 1px 12px 1px #654321;
	 margin-left: 135px;
	 width: 0px;
}


/*Branches*/

.branches {
	height: 216px;
	position: absolute;
	top: 85px;
	width: 300px;
}


.branches-container {
	height: 210px;
	position: absolute;
	width: 300px;
}

.branch {
	border-color: #448f30 transparent;
	border-style: solid;
	height: 0px;
	width: 0;
	border-width: 0 100px 73px;		
}

.top {
	
	border-bottom-left-radius: 50% 100px;
	border-bottom-right-radius: 50% 100px;
	position: absolute;
	left: 50px;	
}

.middle {
	
	border-bottom-left-radius: 50% 60px;
	border-bottom-right-radius: 50% 60px;
	position: absolute;
	left: 50px;
	top: 50px;
}

.bottom {
	
	border-bottom-left-radius: 50% 20px;
	border-bottom-right-radius: 50% 20px;
	position: absolute;
	left: 50px;
	top: 100px;
} 

.branch-bottom-light-box {
	position: relative;
}

.second-string-lights {
	height: 100%;
	position: absolute;
}

/*Lights*/


	.lights-container {
		height: 223px;
		position: relative;	
	}

	.glow:nth-child(even) {
		background: #ff0000;
		opacity: 1;
		box-shadow: none;
		animation: glow-pulse-1 0.8s linear 0s infinite alternate;
	}

	.glow:nth-child(odd) {
		background: #fff;
		opacity: .8;
		box-shadow: none;
		animation: glow-pulse-2 0.8s linear 0s infinite alternate;
	}

	@keyframes glow-pulse-1 {
		from {box-shadow: 1px 1px 15px #ff0000, -1px -1px 15px #ff0000; opacity 1;}
		to {box-shadow: none; opacity 3;}
	}

	@keyframes glow-pulse-2 {
		from {box-shadow: none; opacity .3;}
		to {box-shadow: 1px 1px 15px #fff, -1px -1px 15px #fff; opacity 1;}
	}

	.one {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 96px;
		margin: 0px;
		padding: 0px;
		position: absolute;	
		top: 45px;
		width: 20px;
		z-index: 10;
	}

	.two {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 107px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 53px;
		width: 20px;
		z-index: 10;
	}

	.three {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 128px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 61px;
		width: 20px;
		z-index: 10;
	}

	.four {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 150px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 69px;
		width: 20px;
		z-index: 10;
	}

	.five {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 108px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 128px;
		width: 20px;
		z-index: 10;
	}

	.six {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 130px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 136px;
		width: 20px;
		z-index: 10;
	}

	.seven {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 152px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 144px;
		width: 20px;
		z-index: 10;
	}

	.eight {
		background: #fff;
		border: solid 1px #fff;
		border-radius: 50%;
		display: inline-block;
		height: 20px;	
		left: 175px;
		list-style-type: none;
		margin: 0px 10px;
		padding: 0px;
		position: absolute;	
		top: 152px;
		width: 20px;
		z-index: 10;
	}


/* Bulbs */


.first-bulb {
	position: absolute;
	background: linear-gradient(0deg, #d8d618, gold 40%, #fafad6);
	left: 137px;
	bottom: 30px;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 10;
	top: 20px;
}

.second-bulb {
	position: absolute;
	background: linear-gradient(0deg, #5b1d6f, #800080 40%, #f135f8);
	left: 110px;
	bottom: 30px;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 10;
	top: 90px;
}

.third-bulb {
	position: absolute;
	background: linear-gradient(0deg, #d8d618, gold 40%, #fafad6);
	left: 155px;
	bottom: 30px;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 10;
	top: 100px;
}



.fourth-bulb {
	position: absolute;
	background: linear-gradient(0deg, #5b1d6f, #800080 40%, #f135f8);
	left: 90px;
	bottom: 30px;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 10;
	top: 149px;
}

.grass {	
	background-color: #99a637;
	position: absolute;
	height: 10px;
	top: 290px;
	width: 100%;
}	











